nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

nav a.active {
  font-weight: bold;
  color: rgba(233, 213, 35, 0.801);
  text-decoration: underline;
}
